=begin
#Pulp 3 API

#Fetch, Upload, Organize, and Distribute Software Packages

The version of the OpenAPI document: v3
Contact: pulp-list@redhat.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module PulpcoreClient
  class AccessPoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List access policys
    # ViewSet for AccessPolicy.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Boolean] :customized Filter results where customized matches value
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [Array<String>] :ordering Ordering  * &#x60;pulp_id&#x60; - Pulp id * &#x60;-pulp_id&#x60; - Pulp id (descending) * &#x60;pulp_created&#x60; - Pulp created * &#x60;-pulp_created&#x60; - Pulp created (descending) * &#x60;pulp_last_updated&#x60; - Pulp last updated * &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending) * &#x60;creation_hooks&#x60; - Creation hooks * &#x60;-creation_hooks&#x60; - Creation hooks (descending) * &#x60;statements&#x60; - Statements * &#x60;-statements&#x60; - Statements (descending) * &#x60;viewset_name&#x60; - Viewset name * &#x60;-viewset_name&#x60; - Viewset name (descending) * &#x60;customized&#x60; - Customized * &#x60;-customized&#x60; - Customized (descending) * &#x60;queryset_scoping&#x60; - Queryset scoping * &#x60;-queryset_scoping&#x60; - Queryset scoping (descending) * &#x60;pk&#x60; - Pk * &#x60;-pk&#x60; - Pk (descending)
    # @option opts [Array<String>] :prn__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_href__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_id__in Multiple values may be separated by commas.
    # @option opts [String] :q Filter results by using NOT, AND and OR operations on other filters
    # @option opts [String] :viewset_name Filter results where viewset_name matches value
    # @option opts [String] :viewset_name__contains Filter results where viewset_name contains value
    # @option opts [String] :viewset_name__icontains Filter results where viewset_name contains value
    # @option opts [String] :viewset_name__iexact Filter results where viewset_name matches value
    # @option opts [Array<String>] :viewset_name__in Filter results where viewset_name is in a comma-separated list of values
    # @option opts [String] :viewset_name__iregex Filter results where viewset_name matches regex value
    # @option opts [String] :viewset_name__istartswith Filter results where viewset_name starts with value
    # @option opts [String] :viewset_name__regex Filter results where viewset_name matches regex value
    # @option opts [String] :viewset_name__startswith Filter results where viewset_name starts with value
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [PaginatedAccessPolicyResponseList]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List access policys
    # ViewSet for AccessPolicy.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Boolean] :customized Filter results where customized matches value
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [Array<String>] :ordering Ordering  * &#x60;pulp_id&#x60; - Pulp id * &#x60;-pulp_id&#x60; - Pulp id (descending) * &#x60;pulp_created&#x60; - Pulp created * &#x60;-pulp_created&#x60; - Pulp created (descending) * &#x60;pulp_last_updated&#x60; - Pulp last updated * &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending) * &#x60;creation_hooks&#x60; - Creation hooks * &#x60;-creation_hooks&#x60; - Creation hooks (descending) * &#x60;statements&#x60; - Statements * &#x60;-statements&#x60; - Statements (descending) * &#x60;viewset_name&#x60; - Viewset name * &#x60;-viewset_name&#x60; - Viewset name (descending) * &#x60;customized&#x60; - Customized * &#x60;-customized&#x60; - Customized (descending) * &#x60;queryset_scoping&#x60; - Queryset scoping * &#x60;-queryset_scoping&#x60; - Queryset scoping (descending) * &#x60;pk&#x60; - Pk * &#x60;-pk&#x60; - Pk (descending)
    # @option opts [Array<String>] :prn__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_href__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_id__in Multiple values may be separated by commas.
    # @option opts [String] :q Filter results by using NOT, AND and OR operations on other filters
    # @option opts [String] :viewset_name Filter results where viewset_name matches value
    # @option opts [String] :viewset_name__contains Filter results where viewset_name contains value
    # @option opts [String] :viewset_name__icontains Filter results where viewset_name contains value
    # @option opts [String] :viewset_name__iexact Filter results where viewset_name matches value
    # @option opts [Array<String>] :viewset_name__in Filter results where viewset_name is in a comma-separated list of values
    # @option opts [String] :viewset_name__iregex Filter results where viewset_name matches regex value
    # @option opts [String] :viewset_name__istartswith Filter results where viewset_name starts with value
    # @option opts [String] :viewset_name__regex Filter results where viewset_name matches regex value
    # @option opts [String] :viewset_name__startswith Filter results where viewset_name starts with value
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(PaginatedAccessPolicyResponseList, Integer, Hash)>] PaginatedAccessPolicyResponseList data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessPoliciesApi.list ...'
      end
      allowable_values = ["-creation_hooks", "-customized", "-pk", "-pulp_created", "-pulp_id", "-pulp_last_updated", "-queryset_scoping", "-statements", "-viewset_name", "creation_hooks", "customized", "pk", "pulp_created", "pulp_id", "pulp_last_updated", "queryset_scoping", "statements", "viewset_name"]
      if @api_client.config.client_side_validation && opts[:'ordering'] && !opts[:'ordering'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"ordering\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/pulp/api/v3/access_policies/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customized'] = opts[:'customized'] if !opts[:'customized'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'ordering'] = @api_client.build_collection_param(opts[:'ordering'], :csv) if !opts[:'ordering'].nil?
      query_params[:'prn__in'] = @api_client.build_collection_param(opts[:'prn__in'], :csv) if !opts[:'prn__in'].nil?
      query_params[:'pulp_href__in'] = @api_client.build_collection_param(opts[:'pulp_href__in'], :csv) if !opts[:'pulp_href__in'].nil?
      query_params[:'pulp_id__in'] = @api_client.build_collection_param(opts[:'pulp_id__in'], :csv) if !opts[:'pulp_id__in'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'viewset_name'] = opts[:'viewset_name'] if !opts[:'viewset_name'].nil?
      query_params[:'viewset_name__contains'] = opts[:'viewset_name__contains'] if !opts[:'viewset_name__contains'].nil?
      query_params[:'viewset_name__icontains'] = opts[:'viewset_name__icontains'] if !opts[:'viewset_name__icontains'].nil?
      query_params[:'viewset_name__iexact'] = opts[:'viewset_name__iexact'] if !opts[:'viewset_name__iexact'].nil?
      query_params[:'viewset_name__in'] = @api_client.build_collection_param(opts[:'viewset_name__in'], :csv) if !opts[:'viewset_name__in'].nil?
      query_params[:'viewset_name__iregex'] = opts[:'viewset_name__iregex'] if !opts[:'viewset_name__iregex'].nil?
      query_params[:'viewset_name__istartswith'] = opts[:'viewset_name__istartswith'] if !opts[:'viewset_name__istartswith'].nil?
      query_params[:'viewset_name__regex'] = opts[:'viewset_name__regex'] if !opts[:'viewset_name__regex'].nil?
      query_params[:'viewset_name__startswith'] = opts[:'viewset_name__startswith'] if !opts[:'viewset_name__startswith'].nil?
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAccessPolicyResponseList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"AccessPoliciesApi.list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessPoliciesApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an access policy
    # ViewSet for AccessPolicy.
    # @param access_policy_href [String] 
    # @param patched_access_policy [PatchedAccessPolicy] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [AccessPolicyResponse]
    def partial_update(access_policy_href, patched_access_policy, opts = {})
      data, _status_code, _headers = partial_update_with_http_info(access_policy_href, patched_access_policy, opts)
      data
    end

    # Update an access policy
    # ViewSet for AccessPolicy.
    # @param access_policy_href [String] 
    # @param patched_access_policy [PatchedAccessPolicy] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(AccessPolicyResponse, Integer, Hash)>] AccessPolicyResponse data, response status code and response headers
    def partial_update_with_http_info(access_policy_href, patched_access_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessPoliciesApi.partial_update ...'
      end
      # verify the required parameter 'access_policy_href' is set
      if @api_client.config.client_side_validation && access_policy_href.nil?
        fail ArgumentError, "Missing the required parameter 'access_policy_href' when calling AccessPoliciesApi.partial_update"
      end
      # verify the required parameter 'patched_access_policy' is set
      if @api_client.config.client_side_validation && patched_access_policy.nil?
        fail ArgumentError, "Missing the required parameter 'patched_access_policy' when calling AccessPoliciesApi.partial_update"
      end
      # resource path
      local_var_path = '{access_policy_href}'.sub('{' + 'access_policy_href' + '}', CGI.escape(access_policy_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patched_access_policy)

      # return_type
      return_type = opts[:debug_return_type] || 'AccessPolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"AccessPoliciesApi.partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessPoliciesApi#partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inspect an access policy
    # ViewSet for AccessPolicy.
    # @param access_policy_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [AccessPolicyResponse]
    def read(access_policy_href, opts = {})
      data, _status_code, _headers = read_with_http_info(access_policy_href, opts)
      data
    end

    # Inspect an access policy
    # ViewSet for AccessPolicy.
    # @param access_policy_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(AccessPolicyResponse, Integer, Hash)>] AccessPolicyResponse data, response status code and response headers
    def read_with_http_info(access_policy_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessPoliciesApi.read ...'
      end
      # verify the required parameter 'access_policy_href' is set
      if @api_client.config.client_side_validation && access_policy_href.nil?
        fail ArgumentError, "Missing the required parameter 'access_policy_href' when calling AccessPoliciesApi.read"
      end
      # resource path
      local_var_path = '{access_policy_href}'.sub('{' + 'access_policy_href' + '}', CGI.escape(access_policy_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccessPolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"AccessPoliciesApi.read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessPoliciesApi#read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset the access policy to its uncustomized default value.
    # @param access_policy_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [AccessPolicyResponse]
    def reset(access_policy_href, opts = {})
      data, _status_code, _headers = reset_with_http_info(access_policy_href, opts)
      data
    end

    # Reset the access policy to its uncustomized default value.
    # @param access_policy_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(AccessPolicyResponse, Integer, Hash)>] AccessPolicyResponse data, response status code and response headers
    def reset_with_http_info(access_policy_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessPoliciesApi.reset ...'
      end
      # verify the required parameter 'access_policy_href' is set
      if @api_client.config.client_side_validation && access_policy_href.nil?
        fail ArgumentError, "Missing the required parameter 'access_policy_href' when calling AccessPoliciesApi.reset"
      end
      # resource path
      local_var_path = '{access_policy_href}reset/'.sub('{' + 'access_policy_href' + '}', CGI.escape(access_policy_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccessPolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"AccessPoliciesApi.reset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessPoliciesApi#reset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an access policy
    # ViewSet for AccessPolicy.
    # @param access_policy_href [String] 
    # @param access_policy [AccessPolicy] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [AccessPolicyResponse]
    def update(access_policy_href, access_policy, opts = {})
      data, _status_code, _headers = update_with_http_info(access_policy_href, access_policy, opts)
      data
    end

    # Update an access policy
    # ViewSet for AccessPolicy.
    # @param access_policy_href [String] 
    # @param access_policy [AccessPolicy] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(AccessPolicyResponse, Integer, Hash)>] AccessPolicyResponse data, response status code and response headers
    def update_with_http_info(access_policy_href, access_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccessPoliciesApi.update ...'
      end
      # verify the required parameter 'access_policy_href' is set
      if @api_client.config.client_side_validation && access_policy_href.nil?
        fail ArgumentError, "Missing the required parameter 'access_policy_href' when calling AccessPoliciesApi.update"
      end
      # verify the required parameter 'access_policy' is set
      if @api_client.config.client_side_validation && access_policy.nil?
        fail ArgumentError, "Missing the required parameter 'access_policy' when calling AccessPoliciesApi.update"
      end
      # resource path
      local_var_path = '{access_policy_href}'.sub('{' + 'access_policy_href' + '}', CGI.escape(access_policy_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(access_policy)

      # return_type
      return_type = opts[:debug_return_type] || 'AccessPolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"AccessPoliciesApi.update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccessPoliciesApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
