=begin
#Pulp 3 API

#Fetch, Upload, Organize, and Distribute Software Packages

The version of the OpenAPI document: v3
Contact: pulp-list@redhat.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module PulpcoreClient
  class UpstreamPulpsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a role
    # Add a role for this object to users/groups.
    # @param upstream_pulp_href [String] 
    # @param nested_role [NestedRole] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [NestedRoleResponse]
    def add_role(upstream_pulp_href, nested_role, opts = {})
      data, _status_code, _headers = add_role_with_http_info(upstream_pulp_href, nested_role, opts)
      data
    end

    # Add a role
    # Add a role for this object to users/groups.
    # @param upstream_pulp_href [String] 
    # @param nested_role [NestedRole] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(NestedRoleResponse, Integer, Hash)>] NestedRoleResponse data, response status code and response headers
    def add_role_with_http_info(upstream_pulp_href, nested_role, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.add_role ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.add_role"
      end
      # verify the required parameter 'nested_role' is set
      if @api_client.config.client_side_validation && nested_role.nil?
        fail ArgumentError, "Missing the required parameter 'nested_role' when calling UpstreamPulpsApi.add_role"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}add_role/'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nested_role)

      # return_type
      return_type = opts[:debug_return_type] || 'NestedRoleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.add_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#add_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp [UpstreamPulp] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [UpstreamPulpResponse]
    def create(upstream_pulp, opts = {})
      data, _status_code, _headers = create_with_http_info(upstream_pulp, opts)
      data
    end

    # Create an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp [UpstreamPulp] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(UpstreamPulpResponse, Integer, Hash)>] UpstreamPulpResponse data, response status code and response headers
    def create_with_http_info(upstream_pulp, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.create ...'
      end
      # verify the required parameter 'upstream_pulp' is set
      if @api_client.config.client_side_validation && upstream_pulp.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp' when calling UpstreamPulpsApi.create"
      end
      # resource path
      local_var_path = '/pulp/api/v3/upstream-pulps/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upstream_pulp)

      # return_type
      return_type = opts[:debug_return_type] || 'UpstreamPulpResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [nil]
    def delete(upstream_pulp_href, opts = {})
      delete_with_http_info(upstream_pulp_href, opts)
      nil
    end

    # Delete an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_with_http_info(upstream_pulp_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.delete ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.delete"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List upstream pulps
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [String] :base_url Filter results where base_url matches value
    # @option opts [String] :base_url__contains Filter results where base_url contains value
    # @option opts [String] :base_url__icontains Filter results where base_url contains value
    # @option opts [String] :base_url__iexact Filter results where base_url matches value
    # @option opts [Array<String>] :base_url__in Filter results where base_url is in a comma-separated list of values
    # @option opts [String] :base_url__iregex Filter results where base_url matches regex value
    # @option opts [String] :base_url__istartswith Filter results where base_url starts with value
    # @option opts [String] :base_url__regex Filter results where base_url matches regex value
    # @option opts [String] :base_url__startswith Filter results where base_url starts with value
    # @option opts [Time] :last_replication Filter results where last_replication matches value
    # @option opts [Time] :last_replication__gt Filter results where last_replication is greater than value
    # @option opts [Time] :last_replication__gte Filter results where last_replication is greater than or equal to value
    # @option opts [Boolean] :last_replication__isnull Filter results where last_replication has a null value
    # @option opts [Time] :last_replication__lt Filter results where last_replication is less than value
    # @option opts [Time] :last_replication__lte Filter results where last_replication is less than or equal to value
    # @option opts [Array<Time>] :last_replication__range Filter results where last_replication is between two comma separated values
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [String] :name Filter results where name matches value
    # @option opts [String] :name__contains Filter results where name contains value
    # @option opts [String] :name__icontains Filter results where name contains value
    # @option opts [String] :name__iexact Filter results where name matches value
    # @option opts [Array<String>] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [String] :name__iregex Filter results where name matches regex value
    # @option opts [String] :name__istartswith Filter results where name starts with value
    # @option opts [String] :name__regex Filter results where name matches regex value
    # @option opts [String] :name__startswith Filter results where name starts with value
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [Array<String>] :ordering Ordering  * &#x60;pulp_id&#x60; - Pulp id * &#x60;-pulp_id&#x60; - Pulp id (descending) * &#x60;pulp_created&#x60; - Pulp created * &#x60;-pulp_created&#x60; - Pulp created (descending) * &#x60;pulp_last_updated&#x60; - Pulp last updated * &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending) * &#x60;name&#x60; - Name * &#x60;-name&#x60; - Name (descending) * &#x60;base_url&#x60; - Base url * &#x60;-base_url&#x60; - Base url (descending) * &#x60;api_root&#x60; - Api root * &#x60;-api_root&#x60; - Api root (descending) * &#x60;domain&#x60; - Domain * &#x60;-domain&#x60; - Domain (descending) * &#x60;ca_cert&#x60; - Ca cert * &#x60;-ca_cert&#x60; - Ca cert (descending) * &#x60;client_cert&#x60; - Client cert * &#x60;-client_cert&#x60; - Client cert (descending) * &#x60;client_key&#x60; - Client key * &#x60;-client_key&#x60; - Client key (descending) * &#x60;tls_validation&#x60; - Tls validation * &#x60;-tls_validation&#x60; - Tls validation (descending) * &#x60;username&#x60; - Username * &#x60;-username&#x60; - Username (descending) * &#x60;password&#x60; - Password * &#x60;-password&#x60; - Password (descending) * &#x60;q_select&#x60; - Q select * &#x60;-q_select&#x60; - Q select (descending) * &#x60;policy&#x60; - Policy * &#x60;-policy&#x60; - Policy (descending) * &#x60;last_replication&#x60; - Last replication * &#x60;-last_replication&#x60; - Last replication (descending) * &#x60;pk&#x60; - Pk * &#x60;-pk&#x60; - Pk (descending)
    # @option opts [Array<String>] :prn__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_href__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_id__in Multiple values may be separated by commas.
    # @option opts [String] :q Filter results by using NOT, AND and OR operations on other filters
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [PaginatedUpstreamPulpResponseList]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List upstream pulps
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [String] :base_url Filter results where base_url matches value
    # @option opts [String] :base_url__contains Filter results where base_url contains value
    # @option opts [String] :base_url__icontains Filter results where base_url contains value
    # @option opts [String] :base_url__iexact Filter results where base_url matches value
    # @option opts [Array<String>] :base_url__in Filter results where base_url is in a comma-separated list of values
    # @option opts [String] :base_url__iregex Filter results where base_url matches regex value
    # @option opts [String] :base_url__istartswith Filter results where base_url starts with value
    # @option opts [String] :base_url__regex Filter results where base_url matches regex value
    # @option opts [String] :base_url__startswith Filter results where base_url starts with value
    # @option opts [Time] :last_replication Filter results where last_replication matches value
    # @option opts [Time] :last_replication__gt Filter results where last_replication is greater than value
    # @option opts [Time] :last_replication__gte Filter results where last_replication is greater than or equal to value
    # @option opts [Boolean] :last_replication__isnull Filter results where last_replication has a null value
    # @option opts [Time] :last_replication__lt Filter results where last_replication is less than value
    # @option opts [Time] :last_replication__lte Filter results where last_replication is less than or equal to value
    # @option opts [Array<Time>] :last_replication__range Filter results where last_replication is between two comma separated values
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [String] :name Filter results where name matches value
    # @option opts [String] :name__contains Filter results where name contains value
    # @option opts [String] :name__icontains Filter results where name contains value
    # @option opts [String] :name__iexact Filter results where name matches value
    # @option opts [Array<String>] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [String] :name__iregex Filter results where name matches regex value
    # @option opts [String] :name__istartswith Filter results where name starts with value
    # @option opts [String] :name__regex Filter results where name matches regex value
    # @option opts [String] :name__startswith Filter results where name starts with value
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [Array<String>] :ordering Ordering  * &#x60;pulp_id&#x60; - Pulp id * &#x60;-pulp_id&#x60; - Pulp id (descending) * &#x60;pulp_created&#x60; - Pulp created * &#x60;-pulp_created&#x60; - Pulp created (descending) * &#x60;pulp_last_updated&#x60; - Pulp last updated * &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending) * &#x60;name&#x60; - Name * &#x60;-name&#x60; - Name (descending) * &#x60;base_url&#x60; - Base url * &#x60;-base_url&#x60; - Base url (descending) * &#x60;api_root&#x60; - Api root * &#x60;-api_root&#x60; - Api root (descending) * &#x60;domain&#x60; - Domain * &#x60;-domain&#x60; - Domain (descending) * &#x60;ca_cert&#x60; - Ca cert * &#x60;-ca_cert&#x60; - Ca cert (descending) * &#x60;client_cert&#x60; - Client cert * &#x60;-client_cert&#x60; - Client cert (descending) * &#x60;client_key&#x60; - Client key * &#x60;-client_key&#x60; - Client key (descending) * &#x60;tls_validation&#x60; - Tls validation * &#x60;-tls_validation&#x60; - Tls validation (descending) * &#x60;username&#x60; - Username * &#x60;-username&#x60; - Username (descending) * &#x60;password&#x60; - Password * &#x60;-password&#x60; - Password (descending) * &#x60;q_select&#x60; - Q select * &#x60;-q_select&#x60; - Q select (descending) * &#x60;policy&#x60; - Policy * &#x60;-policy&#x60; - Policy (descending) * &#x60;last_replication&#x60; - Last replication * &#x60;-last_replication&#x60; - Last replication (descending) * &#x60;pk&#x60; - Pk * &#x60;-pk&#x60; - Pk (descending)
    # @option opts [Array<String>] :prn__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_href__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_id__in Multiple values may be separated by commas.
    # @option opts [String] :q Filter results by using NOT, AND and OR operations on other filters
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(PaginatedUpstreamPulpResponseList, Integer, Hash)>] PaginatedUpstreamPulpResponseList data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.list ...'
      end
      allowable_values = ["-api_root", "-base_url", "-ca_cert", "-client_cert", "-client_key", "-domain", "-last_replication", "-name", "-password", "-pk", "-policy", "-pulp_created", "-pulp_id", "-pulp_last_updated", "-q_select", "-tls_validation", "-username", "api_root", "base_url", "ca_cert", "client_cert", "client_key", "domain", "last_replication", "name", "password", "pk", "policy", "pulp_created", "pulp_id", "pulp_last_updated", "q_select", "tls_validation", "username"]
      if @api_client.config.client_side_validation && opts[:'ordering'] && !opts[:'ordering'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"ordering\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/pulp/api/v3/upstream-pulps/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'base_url'] = opts[:'base_url'] if !opts[:'base_url'].nil?
      query_params[:'base_url__contains'] = opts[:'base_url__contains'] if !opts[:'base_url__contains'].nil?
      query_params[:'base_url__icontains'] = opts[:'base_url__icontains'] if !opts[:'base_url__icontains'].nil?
      query_params[:'base_url__iexact'] = opts[:'base_url__iexact'] if !opts[:'base_url__iexact'].nil?
      query_params[:'base_url__in'] = @api_client.build_collection_param(opts[:'base_url__in'], :csv) if !opts[:'base_url__in'].nil?
      query_params[:'base_url__iregex'] = opts[:'base_url__iregex'] if !opts[:'base_url__iregex'].nil?
      query_params[:'base_url__istartswith'] = opts[:'base_url__istartswith'] if !opts[:'base_url__istartswith'].nil?
      query_params[:'base_url__regex'] = opts[:'base_url__regex'] if !opts[:'base_url__regex'].nil?
      query_params[:'base_url__startswith'] = opts[:'base_url__startswith'] if !opts[:'base_url__startswith'].nil?
      query_params[:'last_replication'] = opts[:'last_replication'] if !opts[:'last_replication'].nil?
      query_params[:'last_replication__gt'] = opts[:'last_replication__gt'] if !opts[:'last_replication__gt'].nil?
      query_params[:'last_replication__gte'] = opts[:'last_replication__gte'] if !opts[:'last_replication__gte'].nil?
      query_params[:'last_replication__isnull'] = opts[:'last_replication__isnull'] if !opts[:'last_replication__isnull'].nil?
      query_params[:'last_replication__lt'] = opts[:'last_replication__lt'] if !opts[:'last_replication__lt'].nil?
      query_params[:'last_replication__lte'] = opts[:'last_replication__lte'] if !opts[:'last_replication__lte'].nil?
      query_params[:'last_replication__range'] = @api_client.build_collection_param(opts[:'last_replication__range'], :csv) if !opts[:'last_replication__range'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'name__contains'] = opts[:'name__contains'] if !opts[:'name__contains'].nil?
      query_params[:'name__icontains'] = opts[:'name__icontains'] if !opts[:'name__icontains'].nil?
      query_params[:'name__iexact'] = opts[:'name__iexact'] if !opts[:'name__iexact'].nil?
      query_params[:'name__in'] = @api_client.build_collection_param(opts[:'name__in'], :csv) if !opts[:'name__in'].nil?
      query_params[:'name__iregex'] = opts[:'name__iregex'] if !opts[:'name__iregex'].nil?
      query_params[:'name__istartswith'] = opts[:'name__istartswith'] if !opts[:'name__istartswith'].nil?
      query_params[:'name__regex'] = opts[:'name__regex'] if !opts[:'name__regex'].nil?
      query_params[:'name__startswith'] = opts[:'name__startswith'] if !opts[:'name__startswith'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'ordering'] = @api_client.build_collection_param(opts[:'ordering'], :csv) if !opts[:'ordering'].nil?
      query_params[:'prn__in'] = @api_client.build_collection_param(opts[:'prn__in'], :csv) if !opts[:'prn__in'].nil?
      query_params[:'pulp_href__in'] = @api_client.build_collection_param(opts[:'pulp_href__in'], :csv) if !opts[:'pulp_href__in'].nil?
      query_params[:'pulp_id__in'] = @api_client.build_collection_param(opts[:'pulp_id__in'], :csv) if !opts[:'pulp_id__in'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedUpstreamPulpResponseList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List roles
    # List roles assigned to this object.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [ObjectRolesResponse]
    def list_roles(upstream_pulp_href, opts = {})
      data, _status_code, _headers = list_roles_with_http_info(upstream_pulp_href, opts)
      data
    end

    # List roles
    # List roles assigned to this object.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(ObjectRolesResponse, Integer, Hash)>] ObjectRolesResponse data, response status code and response headers
    def list_roles_with_http_info(upstream_pulp_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.list_roles ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.list_roles"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}list_roles/'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ObjectRolesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.list_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#list_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List user permissions
    # List permissions available to the current user on this object.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [MyPermissionsResponse]
    def my_permissions(upstream_pulp_href, opts = {})
      data, _status_code, _headers = my_permissions_with_http_info(upstream_pulp_href, opts)
      data
    end

    # List user permissions
    # List permissions available to the current user on this object.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(MyPermissionsResponse, Integer, Hash)>] MyPermissionsResponse data, response status code and response headers
    def my_permissions_with_http_info(upstream_pulp_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.my_permissions ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.my_permissions"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}my_permissions/'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MyPermissionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.my_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#my_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param patched_upstream_pulp [PatchedUpstreamPulp] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [UpstreamPulpResponse]
    def partial_update(upstream_pulp_href, patched_upstream_pulp, opts = {})
      data, _status_code, _headers = partial_update_with_http_info(upstream_pulp_href, patched_upstream_pulp, opts)
      data
    end

    # Update an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param patched_upstream_pulp [PatchedUpstreamPulp] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(UpstreamPulpResponse, Integer, Hash)>] UpstreamPulpResponse data, response status code and response headers
    def partial_update_with_http_info(upstream_pulp_href, patched_upstream_pulp, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.partial_update ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.partial_update"
      end
      # verify the required parameter 'patched_upstream_pulp' is set
      if @api_client.config.client_side_validation && patched_upstream_pulp.nil?
        fail ArgumentError, "Missing the required parameter 'patched_upstream_pulp' when calling UpstreamPulpsApi.partial_update"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patched_upstream_pulp)

      # return_type
      return_type = opts[:debug_return_type] || 'UpstreamPulpResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inspect an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [UpstreamPulpResponse]
    def read(upstream_pulp_href, opts = {})
      data, _status_code, _headers = read_with_http_info(upstream_pulp_href, opts)
      data
    end

    # Inspect an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(UpstreamPulpResponse, Integer, Hash)>] UpstreamPulpResponse data, response status code and response headers
    def read_with_http_info(upstream_pulp_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.read ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.read"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpstreamPulpResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a role
    # Remove a role for this object from users/groups.
    # @param upstream_pulp_href [String] 
    # @param nested_role [NestedRole] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [NestedRoleResponse]
    def remove_role(upstream_pulp_href, nested_role, opts = {})
      data, _status_code, _headers = remove_role_with_http_info(upstream_pulp_href, nested_role, opts)
      data
    end

    # Remove a role
    # Remove a role for this object from users/groups.
    # @param upstream_pulp_href [String] 
    # @param nested_role [NestedRole] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(NestedRoleResponse, Integer, Hash)>] NestedRoleResponse data, response status code and response headers
    def remove_role_with_http_info(upstream_pulp_href, nested_role, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.remove_role ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.remove_role"
      end
      # verify the required parameter 'nested_role' is set
      if @api_client.config.client_side_validation && nested_role.nil?
        fail ArgumentError, "Missing the required parameter 'nested_role' when calling UpstreamPulpsApi.remove_role"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}remove_role/'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(nested_role)

      # return_type
      return_type = opts[:debug_return_type] || 'NestedRoleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.remove_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#remove_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replicate
    # Trigger an asynchronous repository replication task group. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [TaskGroupOperationResponse]
    def replicate(upstream_pulp_href, opts = {})
      data, _status_code, _headers = replicate_with_http_info(upstream_pulp_href, opts)
      data
    end

    # Replicate
    # Trigger an asynchronous repository replication task group. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(TaskGroupOperationResponse, Integer, Hash)>] TaskGroupOperationResponse data, response status code and response headers
    def replicate_with_http_info(upstream_pulp_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.replicate ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.replicate"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}replicate/'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskGroupOperationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.replicate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#replicate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param upstream_pulp [UpstreamPulp] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [UpstreamPulpResponse]
    def update(upstream_pulp_href, upstream_pulp, opts = {})
      data, _status_code, _headers = update_with_http_info(upstream_pulp_href, upstream_pulp, opts)
      data
    end

    # Update an upstream pulp
    # API for configuring an upstream Pulp to replicate. This API is provided as a tech preview.
    # @param upstream_pulp_href [String] 
    # @param upstream_pulp [UpstreamPulp] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(UpstreamPulpResponse, Integer, Hash)>] UpstreamPulpResponse data, response status code and response headers
    def update_with_http_info(upstream_pulp_href, upstream_pulp, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UpstreamPulpsApi.update ...'
      end
      # verify the required parameter 'upstream_pulp_href' is set
      if @api_client.config.client_side_validation && upstream_pulp_href.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp_href' when calling UpstreamPulpsApi.update"
      end
      # verify the required parameter 'upstream_pulp' is set
      if @api_client.config.client_side_validation && upstream_pulp.nil?
        fail ArgumentError, "Missing the required parameter 'upstream_pulp' when calling UpstreamPulpsApi.update"
      end
      # resource path
      local_var_path = '{upstream_pulp_href}'.sub('{' + 'upstream_pulp_href' + '}', CGI.escape(upstream_pulp_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upstream_pulp)

      # return_type
      return_type = opts[:debug_return_type] || 'UpstreamPulpResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"UpstreamPulpsApi.update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UpstreamPulpsApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
