=begin
#Pulp 3 API

#Fetch, Upload, Organize, and Distribute Software Packages

The version of the OpenAPI document: v3
Contact: pulp-list@redhat.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module PulpCertguardClient
  class ContentguardsRhsmApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_rhsm_cert_guard [CertguardRHSMCertGuard] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [CertguardRHSMCertGuardResponse]
    def create(certguard_rhsm_cert_guard, opts = {})
      data, _status_code, _headers = create_with_http_info(certguard_rhsm_cert_guard, opts)
      data
    end

    # Create a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_rhsm_cert_guard [CertguardRHSMCertGuard] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(CertguardRHSMCertGuardResponse, Integer, Hash)>] CertguardRHSMCertGuardResponse data, response status code and response headers
    def create_with_http_info(certguard_rhsm_cert_guard, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentguardsRhsmApi.create ...'
      end
      # verify the required parameter 'certguard_rhsm_cert_guard' is set
      if @api_client.config.client_side_validation && certguard_rhsm_cert_guard.nil?
        fail ArgumentError, "Missing the required parameter 'certguard_rhsm_cert_guard' when calling ContentguardsRhsmApi.create"
      end
      # resource path
      local_var_path = '/pulp/api/v3/contentguards/certguard/rhsm/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(certguard_rhsm_cert_guard)

      # return_type
      return_type = opts[:debug_return_type] || 'CertguardRHSMCertGuardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"ContentguardsRhsmApi.create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentguardsRhsmApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [nil]
    def delete(certguard_r_h_s_m_cert_guard_href, opts = {})
      delete_with_http_info(certguard_r_h_s_m_cert_guard_href, opts)
      nil
    end

    # Delete a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_with_http_info(certguard_r_h_s_m_cert_guard_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentguardsRhsmApi.delete ...'
      end
      # verify the required parameter 'certguard_r_h_s_m_cert_guard_href' is set
      if @api_client.config.client_side_validation && certguard_r_h_s_m_cert_guard_href.nil?
        fail ArgumentError, "Missing the required parameter 'certguard_r_h_s_m_cert_guard_href' when calling ContentguardsRhsmApi.delete"
      end
      # resource path
      local_var_path = '{certguard_r_h_s_m_cert_guard_href}'.sub('{' + 'certguard_r_h_s_m_cert_guard_href' + '}', CGI.escape(certguard_r_h_s_m_cert_guard_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"ContentguardsRhsmApi.delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentguardsRhsmApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List rhsm cert guards
    # RHSMCertGuard API Viewsets.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [String] :name Filter results where name matches value
    # @option opts [String] :name__contains Filter results where name contains value
    # @option opts [String] :name__icontains Filter results where name contains value
    # @option opts [String] :name__iexact Filter results where name matches value
    # @option opts [Array<String>] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [String] :name__iregex Filter results where name matches regex value
    # @option opts [String] :name__istartswith Filter results where name starts with value
    # @option opts [String] :name__regex Filter results where name matches regex value
    # @option opts [String] :name__startswith Filter results where name starts with value
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [Array<String>] :ordering Ordering  * &#x60;pulp_id&#x60; - Pulp id * &#x60;-pulp_id&#x60; - Pulp id (descending) * &#x60;pulp_created&#x60; - Pulp created * &#x60;-pulp_created&#x60; - Pulp created (descending) * &#x60;pulp_last_updated&#x60; - Pulp last updated * &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending) * &#x60;pulp_type&#x60; - Pulp type * &#x60;-pulp_type&#x60; - Pulp type (descending) * &#x60;name&#x60; - Name * &#x60;-name&#x60; - Name (descending) * &#x60;description&#x60; - Description * &#x60;-description&#x60; - Description (descending) * &#x60;pk&#x60; - Pk * &#x60;-pk&#x60; - Pk (descending)
    # @option opts [Array<String>] :prn__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_href__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_id__in Multiple values may be separated by commas.
    # @option opts [String] :q Filter results by using NOT, AND and OR operations on other filters
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [PaginatedcertguardRHSMCertGuardResponseList]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List rhsm cert guards
    # RHSMCertGuard API Viewsets.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [String] :name Filter results where name matches value
    # @option opts [String] :name__contains Filter results where name contains value
    # @option opts [String] :name__icontains Filter results where name contains value
    # @option opts [String] :name__iexact Filter results where name matches value
    # @option opts [Array<String>] :name__in Filter results where name is in a comma-separated list of values
    # @option opts [String] :name__iregex Filter results where name matches regex value
    # @option opts [String] :name__istartswith Filter results where name starts with value
    # @option opts [String] :name__regex Filter results where name matches regex value
    # @option opts [String] :name__startswith Filter results where name starts with value
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [Array<String>] :ordering Ordering  * &#x60;pulp_id&#x60; - Pulp id * &#x60;-pulp_id&#x60; - Pulp id (descending) * &#x60;pulp_created&#x60; - Pulp created * &#x60;-pulp_created&#x60; - Pulp created (descending) * &#x60;pulp_last_updated&#x60; - Pulp last updated * &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending) * &#x60;pulp_type&#x60; - Pulp type * &#x60;-pulp_type&#x60; - Pulp type (descending) * &#x60;name&#x60; - Name * &#x60;-name&#x60; - Name (descending) * &#x60;description&#x60; - Description * &#x60;-description&#x60; - Description (descending) * &#x60;pk&#x60; - Pk * &#x60;-pk&#x60; - Pk (descending)
    # @option opts [Array<String>] :prn__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_href__in Multiple values may be separated by commas.
    # @option opts [Array<String>] :pulp_id__in Multiple values may be separated by commas.
    # @option opts [String] :q Filter results by using NOT, AND and OR operations on other filters
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(PaginatedcertguardRHSMCertGuardResponseList, Integer, Hash)>] PaginatedcertguardRHSMCertGuardResponseList data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentguardsRhsmApi.list ...'
      end
      allowable_values = ["-description", "-name", "-pk", "-pulp_created", "-pulp_id", "-pulp_last_updated", "-pulp_type", "description", "name", "pk", "pulp_created", "pulp_id", "pulp_last_updated", "pulp_type"]
      if @api_client.config.client_side_validation && opts[:'ordering'] && !opts[:'ordering'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"ordering\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/pulp/api/v3/contentguards/certguard/rhsm/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'name__contains'] = opts[:'name__contains'] if !opts[:'name__contains'].nil?
      query_params[:'name__icontains'] = opts[:'name__icontains'] if !opts[:'name__icontains'].nil?
      query_params[:'name__iexact'] = opts[:'name__iexact'] if !opts[:'name__iexact'].nil?
      query_params[:'name__in'] = @api_client.build_collection_param(opts[:'name__in'], :csv) if !opts[:'name__in'].nil?
      query_params[:'name__iregex'] = opts[:'name__iregex'] if !opts[:'name__iregex'].nil?
      query_params[:'name__istartswith'] = opts[:'name__istartswith'] if !opts[:'name__istartswith'].nil?
      query_params[:'name__regex'] = opts[:'name__regex'] if !opts[:'name__regex'].nil?
      query_params[:'name__startswith'] = opts[:'name__startswith'] if !opts[:'name__startswith'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'ordering'] = @api_client.build_collection_param(opts[:'ordering'], :csv) if !opts[:'ordering'].nil?
      query_params[:'prn__in'] = @api_client.build_collection_param(opts[:'prn__in'], :csv) if !opts[:'prn__in'].nil?
      query_params[:'pulp_href__in'] = @api_client.build_collection_param(opts[:'pulp_href__in'], :csv) if !opts[:'pulp_href__in'].nil?
      query_params[:'pulp_id__in'] = @api_client.build_collection_param(opts[:'pulp_id__in'], :csv) if !opts[:'pulp_id__in'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedcertguardRHSMCertGuardResponseList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"ContentguardsRhsmApi.list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentguardsRhsmApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param patchedcertguard_rhsm_cert_guard [PatchedcertguardRHSMCertGuard] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [CertguardRHSMCertGuardResponse]
    def partial_update(certguard_r_h_s_m_cert_guard_href, patchedcertguard_rhsm_cert_guard, opts = {})
      data, _status_code, _headers = partial_update_with_http_info(certguard_r_h_s_m_cert_guard_href, patchedcertguard_rhsm_cert_guard, opts)
      data
    end

    # Update a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param patchedcertguard_rhsm_cert_guard [PatchedcertguardRHSMCertGuard] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(CertguardRHSMCertGuardResponse, Integer, Hash)>] CertguardRHSMCertGuardResponse data, response status code and response headers
    def partial_update_with_http_info(certguard_r_h_s_m_cert_guard_href, patchedcertguard_rhsm_cert_guard, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentguardsRhsmApi.partial_update ...'
      end
      # verify the required parameter 'certguard_r_h_s_m_cert_guard_href' is set
      if @api_client.config.client_side_validation && certguard_r_h_s_m_cert_guard_href.nil?
        fail ArgumentError, "Missing the required parameter 'certguard_r_h_s_m_cert_guard_href' when calling ContentguardsRhsmApi.partial_update"
      end
      # verify the required parameter 'patchedcertguard_rhsm_cert_guard' is set
      if @api_client.config.client_side_validation && patchedcertguard_rhsm_cert_guard.nil?
        fail ArgumentError, "Missing the required parameter 'patchedcertguard_rhsm_cert_guard' when calling ContentguardsRhsmApi.partial_update"
      end
      # resource path
      local_var_path = '{certguard_r_h_s_m_cert_guard_href}'.sub('{' + 'certguard_r_h_s_m_cert_guard_href' + '}', CGI.escape(certguard_r_h_s_m_cert_guard_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patchedcertguard_rhsm_cert_guard)

      # return_type
      return_type = opts[:debug_return_type] || 'CertguardRHSMCertGuardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"ContentguardsRhsmApi.partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentguardsRhsmApi#partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inspect a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [CertguardRHSMCertGuardResponse]
    def read(certguard_r_h_s_m_cert_guard_href, opts = {})
      data, _status_code, _headers = read_with_http_info(certguard_r_h_s_m_cert_guard_href, opts)
      data
    end

    # Inspect a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @option opts [Array<String>] :fields A list of fields to include in the response.
    # @option opts [Array<String>] :exclude_fields A list of fields to exclude from the response.
    # @return [Array<(CertguardRHSMCertGuardResponse, Integer, Hash)>] CertguardRHSMCertGuardResponse data, response status code and response headers
    def read_with_http_info(certguard_r_h_s_m_cert_guard_href, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentguardsRhsmApi.read ...'
      end
      # verify the required parameter 'certguard_r_h_s_m_cert_guard_href' is set
      if @api_client.config.client_side_validation && certguard_r_h_s_m_cert_guard_href.nil?
        fail ArgumentError, "Missing the required parameter 'certguard_r_h_s_m_cert_guard_href' when calling ContentguardsRhsmApi.read"
      end
      # resource path
      local_var_path = '{certguard_r_h_s_m_cert_guard_href}'.sub('{' + 'certguard_r_h_s_m_cert_guard_href' + '}', CGI.escape(certguard_r_h_s_m_cert_guard_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?
      query_params[:'exclude_fields'] = @api_client.build_collection_param(opts[:'exclude_fields'], :multi) if !opts[:'exclude_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CertguardRHSMCertGuardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"ContentguardsRhsmApi.read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentguardsRhsmApi#read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param certguard_rhsm_cert_guard [CertguardRHSMCertGuard] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [CertguardRHSMCertGuardResponse]
    def update(certguard_r_h_s_m_cert_guard_href, certguard_rhsm_cert_guard, opts = {})
      data, _status_code, _headers = update_with_http_info(certguard_r_h_s_m_cert_guard_href, certguard_rhsm_cert_guard, opts)
      data
    end

    # Update a rhsm cert guard
    # RHSMCertGuard API Viewsets.
    # @param certguard_r_h_s_m_cert_guard_href [String] 
    # @param certguard_rhsm_cert_guard [CertguardRHSMCertGuard] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :x_task_diagnostics List of profilers to use on tasks.
    # @return [Array<(CertguardRHSMCertGuardResponse, Integer, Hash)>] CertguardRHSMCertGuardResponse data, response status code and response headers
    def update_with_http_info(certguard_r_h_s_m_cert_guard_href, certguard_rhsm_cert_guard, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentguardsRhsmApi.update ...'
      end
      # verify the required parameter 'certguard_r_h_s_m_cert_guard_href' is set
      if @api_client.config.client_side_validation && certguard_r_h_s_m_cert_guard_href.nil?
        fail ArgumentError, "Missing the required parameter 'certguard_r_h_s_m_cert_guard_href' when calling ContentguardsRhsmApi.update"
      end
      # verify the required parameter 'certguard_rhsm_cert_guard' is set
      if @api_client.config.client_side_validation && certguard_rhsm_cert_guard.nil?
        fail ArgumentError, "Missing the required parameter 'certguard_rhsm_cert_guard' when calling ContentguardsRhsmApi.update"
      end
      # resource path
      local_var_path = '{certguard_r_h_s_m_cert_guard_href}'.sub('{' + 'certguard_r_h_s_m_cert_guard_href' + '}', CGI.escape(certguard_r_h_s_m_cert_guard_href.to_s).gsub('%2F', '/'))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Task-Diagnostics'] = @api_client.build_collection_param(opts[:'x_task_diagnostics'], :csv) if !opts[:'x_task_diagnostics'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(certguard_rhsm_cert_guard)

      # return_type
      return_type = opts[:debug_return_type] || 'CertguardRHSMCertGuardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['remoteUserAuthentication']

      new_options = opts.merge(
        :operation => :"ContentguardsRhsmApi.update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentguardsRhsmApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
